---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
    class="sticky top-6 z-50 mx-auto w-[90%] bg-transparent max-w-4xl rounded-2xl backdrop-blur-xl border
     border-black/10 dark:border-white/10 shadow-[0_8px_32px_rgba(0,0,0,0.08)] 
     dark:shadow-[0_8px_32px_rgba(255,255,255,0.18)]"
>
    <nav class="px-4 py-3 flex flex-wrap items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span
                class="self-center text-2xl font-semibold whitespace-nowrap text-zinc-900 dark:text-zinc-100"
                >Antik's Blog</span
            >
        </a>

        <div
            class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse gap-2"
        >
            <ThemeIcon />
            <Menu />
        </div>

        <div
            class="items-center justify-between w-full md:flex md:w-auto md:order-1 order-3"
        >
            <Navigation />
        </div>
    </nav>
</header>

