---
import { cn } from "../../lib/utils";

const { href } = Astro.props;
---

<a
    href={href}
    class={cn(
        "block py-2 px-3 font-semibold rounded-lg",
        "text-zinc-900 dark:text-zinc-100",
        "hover:text-zinc-700 dark:hover:text-zinc-300",
        "hover:bg-zinc-100 dark:hover:bg-white/10",
        "md:hover:bg-transparent md:dark:hover:bg-transparent",
        "md:p-0",
        "transition-all duration-200",
    )}
>
    <slot />
</a>

