---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await getCollection("blog");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>My Astro Learning Blog</h1>
    <p>Here, I'll share my Astro learning journey.</p>

    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
            ))
        }
    </ul></BaseLayout
>
